
.lightface {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	background:#fff;
}

.lightface td {
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	vertical-align: top;
	font-family: "Verdana";
	font-size: 11px;
}

.lightface .centerLeft, .lightface .centerRight {
	width: 10px;
	height: auto;
	background-image: url(b.png);
	background-repeat: repeat-y;
}

.lightface .topLeft, .lightface .topRight, .lightface .bottomLeft, .lightface .bottomRight {
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
}

.lightface .topLeft {
	background-image: url(tl.png);
	background-position: top left;
}

.lightface .topRight {
	background-image: url(tr.png);
	background-position: top right;
}

.lightface .bottomLeft {
	background-image: url(bl.png);
	background-position: bottom left;
}

.lightface .bottomRight {
	background-image: url(br.png);
	background-position: bottom right;
}

.lightface .topCenter, .lightface .bottomCenter {
	width: auto;
	height: 10px;
	background-image: url(b.png);
	background-repeat: repeat-x;
}

.lightface .lightfaceContent {
	background-color: #fff;
	border: 1px solid #555;
	position: relative;
}

.lightface .loading {
	display: block;
	margin: 10px auto;
}

.lightface .lightfaceContent .lightfaceTitle {
	font-size: 14px;
	color: #fff;
	background-color: #6d84b4;
	border: 1px solid #3b5998;
	font-weight: bold;
	margin: -1px;
	margin-bottom: 0px;
	padding: 5px 10px;
}

.lightface .lightfaceContent .lightfaceMessage {
	overflow: auto;
	margin: 0px;
	position: relative;
	padding: 5px 10px;
	border: 1px solid #fff;
}

.lightface .lightfaceContent .lightfaceMessage h3,
.lightface .lightfaceContent .lightfaceMessage h4,
.lightface .lightfaceContent .lightfaceMessage h5,
.lightface .lightfaceContent .lightfaceMessage h6 {
	margin-top: 6px;
}

.lightface .lightfaceContent .lightfaceFooter {
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	padding: 2px 10px;
	text-align: right;
}

.lightfaceFooter input[type="button"] {
	border: 1px solid #666;
	border-top-color: #e7e7e7;
	border-left-color: #e7e7e7;
	background-color: #f0f0f0;
	padding: 3px 15px;
	line-height: 16px;
	vertical-align: middle;
	margin-left: 5px;
	cursor:pointer;
}

.lightfaceFooter input[type="button"].lightfaceSubmit {
	border-color: #0e1f5b;
	border-top-color: #d9dfea;
	border-left-color: #d9dfea;
	background-color: #3b598a;
	color: #fff;
}

.lightfaceOverlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(fbloader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.lightfaceMessageBox	{ 
	overflow: auto;
	padding: 10px 10px;
	min-height: 50px
}